<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/about_style.css">
</head>
<body>
    <nav class="nav">
        <ul class="nav-links">
            <li><a href="/templates/index.html" data-page="home">Home</a></li>
            <li><a href="/templates/projects.html" data-page="projects">Projects</a></li>
            <li><a href="/templates/about.html" data-page="about">About</a></li>
            <li><a href="/templates/contacts.html" data-page="contact">Contact</a></li>
        </ul>
    </nav>
    <div id="about" class="page">
        <section class="about scroll-reveal">
            <div class="about-content">
                <h2>About Me</h2>
                <p>I am an apprentice software developer at Zone01 Kisumu currently training in Go, JavaScript and Rust. I also have some experience on UX and am also soon going to learn UI</p>
                <div class="tech-stack">
                    <div class="tech-item"><a href="https://go.dev/">Go</a></div>
                    <div class="tech-item"><a href="https://www.w3schools.com/js/">JavaScript</a></div>
                    <div class="tech-item"><a href="https://www.rust-lang.org/">Rust</a></div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>