<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="projects" class="page">
        <section class="projects">
            <div class="projects-grid">
                <div class="project-card scroll-reveal">
                    <div class="project-content">
                        <h3>Project 1</h3>
                        <p>Ascii Art</p>
                    </div>
                </div>
                <div class="project-card scroll-reveal">
                    <div class="project-content">
                        <h3>Project 2</h3>
                        <p>Groupie Tracker</p>
                    </div>
                </div>
                <div class="project-card scroll-reveal">
                    <div class="project-content">
                        <h3>Project 3</h3>
                        <p>Math Skills</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>